astroid==2.2.5          
certifi==2019.3.9       
chardet==3.0.4          
cocos2d==0.6.5          
colorama==0.4.1         
define==1.74            
future==0.17.1          
idna==2.8               
isort==4.3.21           
lazy-object-proxy==1.4.1
mccabe==0.6.1           
numpy==1.22.0           
opencv-python==3.4.6    
pandas==0.25.0          
pygame==1.9.6           
pyglet==1.4.1           
pylint==2.3.1           
PyMySQL==0.9.3          
python-dateutil==2.8.0  
pytz==2019.1            
requests==2.22.0        
schedule==0.6.0         
selenium==3.141.0       
six==1.12.0             
typed-ast==1.4.0        
urllib3==1.25.3         
wrapt==1.11.2           